<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.producteca.keepawake</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/caffeinate</string>
        <string>-i</string>
        <string>-w</string>
        <string>1543</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/nicoracciatti/proyectos/producteca_app_v3/logs/caffeinate.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/nicoracciatti/proyectos/producteca_app_v3/logs/caffeinate.log</string>
</dict>
</plist>
